.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 200px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  margin: 0 20px;
  position: relative; /* Added to position pieces correctly */
  top: 100px; /* Adjust this value to move the board down */
}

.square {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative; /* Added to position pieces correctly */
}

.square img {
  width: 80%;
  height: 80%;
}

.piece {
  position: absolute;
}

.piece img {
  width: 50%; /* Adjusted size */
  height: 50%; /* Adjusted size */
}

.game-info {
  margin-top: 20px;
}

.side-pieces {
  display: flex;
  flex-direction: column;
}

.pieces {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pieces img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.pointer-info {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-family: sans-serif;
}
